<html>
	<body>
		<header>
			<h1>Les meilleures recettes du monde !</h1>

			<nav>
				<ul>
					<li>Home</li>
					<li>Liste des recettes</li>
				</ul>
			</nav>
            
		</header>
	</body>
</html>
