<html>
	<body>
		<header>
			<h1>Les meilleures recettes du monde !</h1>

			<nav>
				<ul>
					<li><a href="http://localhost:8888/symfony_recipes/public/">Home</a></li>
					<li> <a href="http://localhost:8888/symfony_recipes/public/ListRecipes">Liste des recettes</a></li>
				</ul>
			</nav>
            
		</header>
	</body>
</html>
