<html>
	<body>
		<footer>

			<nav>
				<ul>
				<li><a href="http://localhost:8888/symfony_recipes/public/">HOME</a></li>
                <li><a href="">ABOUT US</a></li>
                <li><a href="">CONTACT US</a></li>
                <li><a href="">NOUS SUIVRE</a></li>
				</ul>

				<p class="hautPage"><a href="#top">Haut de Page</a></p>
				<img src="{{ asset('assets/img/logo.jpg') }}">
				<p>Copyright</p>
				
			</nav>
		</footer>
	</body>
</html>
