<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="../public/assets/style.css">
		<title>Recette</title>
	</head>
	<body>
		<header>
			<div>
				<img src="{{ asset('assets/img/logo.jpg') }}">
				<h1>Les meilleures recettes du monde
				</h1>
				<img src="{{ asset('assets/img/logo.jpg') }}">
			</div>

			<nav>
				<ul>
					<li><a href="http://localhost:8888/symfony_recipes/public/">Home</a></li>
					<li><a href="http://localhost:8888/symfony_recipes/public/ListRecipes">Liste des recettes</a></li>
				</ul>
			</nav>
		</header>
	</body>
</html>
